
@{
    ViewBag.Title = "查看帖子详情";
    Layout = "~/Views/Shared/_LayoutBBS.cshtml";
}

@model PostDetailViewModel


<div class="container">
    <div class="row" style="padding:5px;border-color:gray;border-width:1px;border-style:solid ">
        <div class="col-lg-12">@Model.Title</div>
    </div>
    <div class="row" style="padding:5px;border-color:gray;border-width:1px;border-style:solid ">
        <div class="col-lg-12">@Model.Content</div>
    </div>

    <div style="padding:5px;border-color:gray;border-width:1px;border-style:solid ">
        55
    </div>
</div>