
@{
    ViewBag.Title = "我的主题";
}
@using learn.bbs.dal.EfModel
@model IList<bbs_area>

<h2>MyAreaList</h2>

<div class="container">

    @{
        int index = 0;
        foreach (bbs_area item in Model)
        {
            index = index + 1;
            if (index % 4 == 1)
            {
                Output.Write("<div class='row' index='qwer'>");
            }
            <div class="col-lg-3">
                <a href="/post/@item.area_uid/page/1">
                    <img src="~/Images/logo.png" />
                    @item.area_name
                </a>
            </div>
            if (index % 4 == 0)
            {
                Output.Write("</div>");
            }
        }
    }

</div>

